extra_layer {
    label = "EXTRA";
    display-name = "EXTRA";

    bindings = <
    //╭──────────────┬───────────────┬───────────────┬────────────────┬──────────────┬──────────────╮  ╭───────┬───────┬───────┬───────┬───────┬───────╮
        &bt BT_SEL 0   &kp C_BRI_INC   &kp CAPSLOCK    &kp SCROLLLOCK   &out OUT_TOG   &kp PSCRN         &XXX    &XXX    &XXX    &XXX    &XXX    &XXX 
    //├──────────────┼───────────────┼───────────────┼────────────────┼──────────────┼──────────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
        &bt BT_SEL 1   &lng_eng        &lng_lt         &lng_ru          &XXX           &out OUT_BLE      &XXX    &XXX    &XXX    &XXX    &XXX    &XXX 
    //├──────────────┼───────────────┼───────────────┼────────────────┼──────────────┼──────────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
        &bt BT_SEL 2   &kp C_BRI_DEC   &kp C_AC_HOME   &kp C_AL_EMAIL   &out OUT_TOG   &out OUT_USB      &XXX    &XXX    &XXX    &XXX    &XXX    &XXX 
    //╰──────────────┴───────────────┴───────────────┼────────────────┼──────────────┼──────────────┤  ├───────┼───────┼───────┼───────┴───────┴───────╯
                                                       &bt BT_SEL 3     &bt BT_SEL 4   &bt BT_SEL 5      &XXX    &XXX    &XXX 
    //                                               ╰────────────────┴──────────────┴──────────────╯  ╰───────┴───────┴───────╯
    >;
};