extra_layer { label = "EXTRA";

bindings = <
// ╭──────────────┬───────────────┬───────────────┬────────────────┬───────┬───────────╮  ╭───────┬───────┬───────┬───────┬───────┬───────╮
     &bt BT_NXT     &kp C_BRI_INC   &kp CAPSLOCK    &kp SCROLLLOCK   &none   &kp PSCRN      &none   &none   &none   &none   &none   &none
// ├──────────────┼───────────────┼───────────────┼────────────────┼───────┼───────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
     &bt BT_PRV     &lng_eng        &lng_lt         &lng_ru          &none   &none          &none   &none   &none   &none   &none   &none
// ├──────────────┼───────────────┼───────────────┼────────────────┼───────┼───────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
     &out OUT_TOG   &kp C_BRI_DEC   &kp C_AC_HOME   &kp C_AL_EMAIL   &none   &none          &none   &none   &none   &none   &none   &none
// ╰──────────────┴───────────────┴───────────────┼────────────────┼───────┼───────────┤  ├───────┼───────┼───────┼───────┴───────┴───────╯
                                                    &none            &none   &none          &none   &none   &none
//                                                ╰────────────────┴───────┴───────────╯  ╰───────┴───────┴───────╯
>;};