#define MV_L MOVE_LEFT
#define MV_D MOVE_DOWN
#define MV_U MOVE_UP
#define MV_R MOVE_RIGHT

maus_layer {
    label = "MAUS";
    display-name = "MAUS";

    bindings = <
    //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &none         &none         &none         &none         &none         &none            &none         &none         &none         &none         &none         &none
    //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp LCTRL     &none         &none         &none         &none         &none            &none         &none         &none         &none         &none         &none
    //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp LSHFT     &none         &none         &none         &none         &none            &none         &mmv MV_L     &mmv MV_D     &mmv MV_U     &mmv MV_R     &none
    //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                  &mkp LCLK     &mkp RCLK     &mkp MCLK        &none         &mkp LCLK     &mkp RCLK
    //                                          ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
    >;
};