maus_layer {
    label = "MAUS";
    display-name = "MAUS";

    bindings = <
    //╭───────┬──────────────┬────────────────┬────────────────┬─────────────────┬────────────────╮  ╭───────┬───────┬───────┬───────┬───────┬───────╮
        &XXX    &XXX           &XXX             &XXX             &XXX              &XXX                &XXX    &XXX    &XXX    &XXX    &XXX    &XXX 
    //├───────┼──────────────┼────────────────┼────────────────┼─────────────────┼────────────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
        &XXX    &XXX           &XXX             &mmv MOVE_UP     &XXX              &XXX                &XXX    &XXX    &XXX    &XXX    &XXX    &XXX 
    //├───────┼──────────────┼────────────────┼────────────────┼─────────────────┼────────────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
        &XXX    &XXX           &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_RIGHT   &XXX                &XXX    &XXX    &XXX    &XXX    &XXX    &XXX 
    //╰───────┴──────────────┴────────────────┼────────────────┼─────────────────┼────────────────┤  ├───────┼───────┼───────┼───────┴───────┴───────╯
                                                &kp SPACE        &XXX              &XXX                &XXX    &XXX    &XXX 
    //                                        ╰────────────────┴─────────────────┴────────────────╯  ╰───────┴───────┴───────╯
    >;
};