player_layer {
    label = "PLAYER";
    display-name = "PLAYER";

    bindings = <
    //╭───────┬──────────────┬───────┬──────────────┬──────────────────┬──────────────────╮  ╭───────┬───────┬───────┬───────┬───────┬───────╮
        &XXX    &XXX           &XXX    &XXX           &XXX               &XXX                  &XXX    &XXX    &XXX    &XXX    &XXX    &XXX 
    //├───────┼──────────────┼───────┼──────────────┼──────────────────┼──────────────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
        &XXX    &XXX           &XXX    &kp C_PREV     &kp C_NEXT         &XXX                  &XXX    &XXX    &XXX    &XXX    &XXX    &XXX 
    //├───────┼──────────────┼───────┼──────────────┼──────────────────┼──────────────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
        &XXX    &kp LEFT_GUI   &XXX    &kp C_VOL_DN   &kp C_VOL_UP       &XXX                  &XXX    &XXX    &XXX    &XXX    &XXX    &XXX 
    //╰───────┴──────────────┴───────┼──────────────┼──────────────────┼──────────────────┤  ├───────┼───────┼───────┼───────┴───────┴───────╯
                                       &XXX           &XXX               &XXX                  &XXX    &XXX    &XXX 
    //                               ╰──────────────┴──────────────────┴──────────────────╯  ╰───────┴───────┴───────╯
    >;
};